@import url('./reset.css');

body {
  background-color: var(--app-background);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
  display: grid;
  place-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background: #181b2d;
  --app-white: #fff;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-background-info: #2a2f4e;
  --app-header: #0f111c;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: var(--app-header);
  font-size: 0px;
  height: 50px;
  line-height: 50px;
}

header .flex {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  color: var(--app-white);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-spacing: 2.5px;
}

nav ul li {
  display: inline;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li a {
  color: var(--app-white);
  font-size: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-shadow: 0px 0px 2px #000;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--app-blue-hover);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.forum {
  background-color: var(--app-header);
  border-radius: 5px;
  margin-top: 50px;
  padding: 15px;
  width: 720px;
  height: 320px;
}

textarea {
  background-color: transparent;
  resize: none;
  color: var(--app-white);
  width: 700px;
  height: 250px;
  font-size: 18px;
}

.inputs {
  margin-top: 10px;
}

.file {
  color: var(--app-white);
}

.post {
  background-color: var(--app-blue);
  color: var(--app-white);
  width: 67px;
  height: 27px;
  font-size: 17px;
  border-radius: 3px;
  margin-left: 334px;
}